.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Title {
    font-size: 12vh;
    font-weight: bold;
}

.Buttons {
    display: flex;
    flex-direction: column;
}

.Buttons > * {
    margin: 2vh;
}
